.login input {
    width: 100%;
    border-radius: 4px;
    background: #5A5B70 !important;
    color: #C7C7C7;
    font-size: 18px;
}

.login input::placeholder {
    color: #C7C7C7;
}

.adminAddProduct input{
    border-radius: 14px;
    background: #5A5B70;
    color: #F2F2F2;
}

.adminAddProduct label{
    color: #C7C7C7;
}